RewriteEngine On
RewriteRule ^index\.php$ - [L]
RewriteRule ^([A-Za-z0-9]+)$  index.php?view=$1 [L]
RewriteRule ^edit/([A-Za-z0-9]+)$  index.php?edit=$1 [L]
RewriteRule ^$ index.php [L]
RewriteRule ^setup.php$ setup.php [L]
RewriteRule .* - [R=404,L]